{% extends "main/base.html" %}


{% block page_header %}
    <div class='jumbotron'>
        <h1 class="display-3">Blog.</h1>
        <p class="lead">A blog (a truncation of "weblog") is a discussion or informational website published on the World Wide Web 
            consisting of discrete, often informal diary-style text entries (posts) :)</p>
        <a class="btn btn-lg btn-primary" href="{% url 'users:register' %}"
            role="button">Register &raquo;</a>
    </div>
{% endblock page_header %}
